.el-dialog__header {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.el-form-item__content {
  justify-content: center !important;
}

.profile-page {
  .el-form {
    max-width: unset;
  }
}

* {
  font-family: sans-serif;
}
